.messageContainer {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messageContainer button {
  width: 150px;
  border-radius: 50px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #dee2e6;
}