.headerContainer{
  width: 100%;
  height: 100px;
  background-color: #dee2e6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.headerContent{
  display: flex;
  gap: 20px;
  height: 100px;
}

.headerContent a{
  font-size: x-large;
  text-decoration: none;
}

.headerContent div{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-link{
  color: black;
  font-weight: bold;
}

.inactive-link{
  color: #6c757d;
}

.ContainerLinkActive{
  border-bottom: 2px solid black;
}